{% extends 'CardApp/base.html' %}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->


  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{object.MyJobProductTitle}}</h2>
        <ol>
          <li><a href="index.html">{{object.TopLiNav1}}</a></li>
          <li>Portfolio Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container" data-aos="fade-up">


      <div class="portfolio-details-container">
        <div class="owl-carousel portfolio-details-carousel">

          <img src="{{object.MyJobImage1.url}}" class="img-fluid" alt="">
          <img src="{{object.MyJobImage2.url}}" class="img-fluid" alt="">
          <img src="{{object.MyJobImage3.url}}" class="img-fluid" alt="">
        </div>
        <div class="portfolio-info">
          <h3>{{object.MyJobProductTitle}}</h3>
          <ul>
            <li><strong>{{object.MyJobJobCategoryTitle}}</strong>: {{object.MyJobJobCategory}}</li>
            <li><strong>{{object.MyJobClientTitle}}</strong>: {{object.MyJobClient}}</li>
            <li><strong>{{object.MyJobDateTitle}}</strong>: {{object.MyJobDate}}</li>
            <li><strong>{{object.MyJobUrlTitle}}</strong>: <a href="#">{{object.get_absolute_url}}</a></li>
          </ul>
        </div>

      </div>

      <div class="portfolio-description">
        <h2>{{object.MyJobH2}}</h2>
        <p>{{object.MyJobDescription}}</p>
      </div>
    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
{% endblock content %}